<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="yellow">
    <a href="/home">Home</a>
    <a href="/about">About</a>
    <a href="/courses">Courses</a>
    <a href="/faculty">faculty</a>
    <a href="/contact">contact Us</a>
    <hr />
<h1>Welcome to home page!!!  </h1>



</body>
</html>