<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="red">

    <a href="/">Home</a>
    <a href="/insert">Insert</a>
    <a href="/display">Display</a>
    <a href="/search">Search</a>
    <a href="/update">U</a>
    <hr size="2" color="yellow" />
    <h1>Edit emploayee  data!!</h1>

    <form  method="post" action="/save">
        enter emp no: <input type="text" name="eno" >
        <br><br>
        enter Name: <input type="text" name="name">
        <br><br>

        enter city: <input type="text" name="city">
        <br><br>
        enter salary: <input type="text" name="sal">
        <br><br>
        <button >save!</button>
    </form>

    <hr size=" 2" color="yellow" />
    
    
</body>
</html>